@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('https://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

html {
  background: #fafafa;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  font-size: 1em;
}

button:-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.unbutton {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  white-space: nowrap;
}