<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/page.js" defer></script>
  <title>Brittr</title>
</head>
<body>
  <h1>Hurrah</h1>
</body>
</html>