<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/page.js" defer></script>
  <title>Brittr</title>
</head>
<body>
  <div class="layout">
    <header class="toolbar">
      <h1 class="site-title">Brittr</h1>
    </header>
    <main class="main">
      {{{ mainContent }}}
    </main>
  </div>
</body>
</html>