<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#303F9F">
  <link rel="icon" href="/imgs/icon.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/css/main.css">
  {{{ extraCss }}}
  {{{ scripts }}}
  <title>Wittr</title>
</head>
<body>
  <div class="layout">
    <header class="toolbar">
      <h1 class="site-title">Wittr</h1>
    </header>
    <main class="main">
      {{{ content }}}
    </main>
  </div>
</body>
</html>