.post-main-img {
  position: absolute;
  top: 0;
  width: 100%;

  @supports (object-fit: cover) {
    height: 100%;
    object-fit: cover;
  }
}

.post-main-img-container {
  position: relative;
  overflow: hidden;
  background: #e4e4e4;

  // fix layout on retina displays
  transform: translateZ(0);

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}

.post-content {
  @include display-flex;
  padding: 16px;
}

.post-text-content {
  line-height: 1.4;

  @include flex(1);

  & p {
    margin: 0;
    color: #666;
    max-width: 550px;
  }
}

.post-avatar {
  border-radius: 20px;
  margin-right: 16px;
  object-fit: cover;
}

.post-title {
  @include display-flex;
  line-height: 1.5;
  margin-bottom: 6px;
  font-size: 1rem;
}

.post-heading {
  @include flex(1);
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
}

.post-time {
  color: #888;
}

.posts-alert {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background: radial-gradient(ellipse farthest-side at 50% 0, rgba(saturate($primary-color, 30%), 0.47), rgba(saturate($primary-color, 30%), 0));
  pointer-events: none;
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.active {
    opacity: 1;
  }
}